{% extends "layout.twig" %}
{% block content %}


<!-- Navigation Container -->
<div class="default-page">


    <!-- Header -->
    {% include "includes/header.twig" %}

    <div class="container">

        <div role="main" id="main">

        </div>

    </div>

    <!-- Footer -->
    {% include "includes/footer.twig" %}


</div>

{% endblock %}

