
// -----------------------------
// Table of Contents
// -----------------------------

//  SASS Includes
//    - BK SASS Framework
//    - Base Styles
//    - Widgets
//    - Plugins
//    - Pages


//  Theme Styles
//    - Header
//    - Main / Responsive Columns
//    - Footer




// -----------------------------
//  SASS Includes
// -----------------------------



// BK SASS Framework
// ------------------

//@import "variables.scss";                              // V8 Framework
@import "stylesheets/base/bk-sass-framework-v8.scss";                              // V8 Framework


// Base Styles
// --------------

@import "stylesheets/base/mixins.scss";                                        // Mixins
@import "stylesheets/base/typography.scss";                                    // Typography


// Widgets Styles
// --------------


@import "stylesheets/widgets/navigation.scss";             // Navigation                         // Navigation Icon
@import "stylesheets/widgets/slideshow.scss";             // Navigation                         // Navigation Icon@import "stylesheets/widgets/forms.scss";             // Navigation                         // Navigation Icon
@import "stylesheets/widgets/image.scss";             // Navigation                         // Navigation Icon           // Navigation                         // Navigation Icon
@import "stylesheets/widgets/forms.scss";             // Navigation                         // Navigation Icon          // Navigation                         // Navigation Icon
@import "stylesheets/widgets/social.scss";             // Navigation                         // Navigation Icon
@import "stylesheets/widgets/twitter.scss";             // Navigation                         // Navigation Icon
@import "stylesheets/widgets/yelp.scss";             // Navigation                         // Navigation Icon


// Page Specific Styles
// ----------------------


@import "stylesheets/plugins/blog-post-list.scss";             // Navigation                         // Navigation Icon
@import "stylesheets/plugins/blog-post.scss";             // Navigation                         // Navigation Icon
@import "stylesheets/plugins/ecom-product-list.scss";             // Navigation                         // Navigation Icon
@import "stylesheets/plugins/ecom-product.scss";             // Navigation                         // Navigation Icon



// -----------------------------
//  Theme Styles
// -----------------------------



// Global
// ---------------

body {
    background-color: $color__body--background;
}

#main {
    margin-top: 40px;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    overflow: hidden;
    padding: 0 40px;

    @media #{$mobile-650px} {
        padding: 0 25px;
    }
}

button,
.button {
    transition: all 0.3s ease 0s;
}


// Header
// ---------------

.template-header {

    @include flex-order(1);
    @include flex (1 1 30%);
    @include align-self(flex-start);

    min-height: 768px;
    background-color: $color__header--background;

    @media #{$tablet-860px} {
        width: 100%;
        display: block;
        min-height: 0px;
    }

    // Flex position logo / company name
    &--brand {
        @include flex-display();
        @include flex-wrap(wrap);
        @include align-items(center);
        @include flex(1 0 auto);

        padding: 0 10px 0 0;
        text-align: center;
        z-index: 999;


        @media #{$tablet-860px} {
            max-width: 100%;
        }


        // Add spacing betweent logo and company name
        .widget:first-child {
            margin-right: 6px;
        }


        // Stop logo becoming to large
        .logo-image {
            max-width: 200px;


            @media #{$mobile-650px} {
                max-width: 150px;
            }
        }
    }
}

// Homepage Features
// -----------------

// Homepage Container
.homepage-container {
    @include flex-display();
    @include flex-wrap(nowrap);
    @include align-items(flex-start);
    @include flex-direction(row);
    @include justify-content(flex-start);
    @include align-content(stretch);

    background-color: $color__navigation--background;

    @media #{$tablet-860px} {
        width: 100%;
        display: block;
    }
}

// Homepage Slideshow
.homepage-slideshow {
    @include flex-order(0);
    @include flex (1 1 70%);
    @include align-self(auto);

    min-height: 768px;

    @media #{$tablet-860px} {
        width: 100%;
        display: block;
        min-height: 0px;
    }
}

// Logo container
.logo-container {
    background-color: transparent;
    margin: 0;
    width: 100%;
    padding: 20px 3%;
    text-align: center;
}

// Homagepage widget
.homepage-widget {
    position: absolute;
    background-color: transparent;
    z-index: 99999;
    left: 3%;
    top: 2%;
    width: 64%;

    .social-name {
        display: none;
    }
    .social-link {
        color: #ffffff;
        background-color: transparent;
        width: 20px;
        &:hover {
            text-decoration: none;
        }
    }

    .social-list:hover>.social-item:hover .social-link,
    .social-list:hover>.social-item .social-link {
        background-color: transparent;
    }

    .companyaddress__address-line {
        display: inline-block;
        float: left;
    }

    .form {
        background-color: transparent;
        padding: 0;
        box-shadow: none;
    }

    .signupform__form-group {
        display: inline-block;
    }

    .companystrapline__strapline {
        font-size: 20px;
        line-height: 32px;
    }

    .companyheadline__headline {
        font-size: 36px;
        line-height: 48px
    }

    h1, h2, h3, h4, p, a {
        color: #ffffff;
        padding-bottom: 0;
    }

    @media #{$tablet-860px} {
        display: none;
    }
}

// Navigation Container
.navigation-container {
    @include align-self(center);
    @include flex-order(0);
    @include flex(0 1 auto);
}

[data-widget-type="logo"] {
    margin-bottom: 10px;
    @media #{$tablet-860px} {
        margin-right: 10px;
        margin-bottom: 0;
    }
}

[data-widget-type="logo"],
[data-widget-type="companyname"] {
    display: block;
    width: 100%;
    text-align: center;

    @media #{$tablet-860px} {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
        width: inherit;
    }
}

// Logo & Companyname container
.logo-companyname-container {
    @include align-self(center);
    @include flex-order(0);
    @include flex(0 1 auto);

    padding: 6% 4% 11% 4%;
    @media #{$tablet-860px} {
        padding: 20px;
    }
}


// Footer
// ---------------

.template-footer {
    padding: 20px 0;
    text-align: center;
    background-color: $color__footer--background;

    h1,h2,h3,h4,h5,p,a {
        color: #fff;
    }

    @media #{$mobile-650px} {
        padding-top: 25px;
    }
}

