
// -----------------------------
// Table of Contents
// -----------------------------

//  SASS Includes
//    - BK SASS Framework
//    - Base Styles
//    - Widgets
//    - Plugins
//    - Pages


//  Theme Styles
//    - Header
//    - Main / Responsive Columns
//    - Footer




// -----------------------------
//  SASS Includes
// -----------------------------



// BK SASS Framework
// ------------------

//@import "variables.scss";                              
@import "stylesheets/base/bk-sass-framework-v8.scss";                          


// Base Styles
// --------------

@import "stylesheets/base/mixins.scss";                                    
@import "stylesheets/base/typography.scss";                                  


// Widgets Styles
// --------------


@import "stylesheets/widgets/navigation.scss";            
@import "stylesheets/widgets/slideshow.scss";           
@import "stylesheets/widgets/image.scss";           
@import "stylesheets/widgets/social.scss";           
@import "stylesheets/widgets/twitter.scss";            
@import "stylesheets/widgets/yelp.scss";
@import "stylesheets/widgets/forms.scss";     
@import "stylesheets/widgets/gallery.scss";              



// Page Specific Styles
// ----------------------


@import "stylesheets/plugins/blog-post-list.scss";          
@import "stylesheets/plugins/blog-post.scss";            
@import "stylesheets/plugins/ecom-product-list.scss";          
@import "stylesheets/plugins/ecom-product.scss";
@import "stylesheets/plugins/ecom-basket.scss";  





// -----------------------------
//  Theme Styles
// -----------------------------


// Global
// ---------------

body {
    background-color: $color__body--background;
}

#main {
    margin-top: 40px;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    overflow: hidden;
    padding: 0 40px;

    @media #{$mobile-650px} {
        padding: 0 25px;
    }
}

button,
.button {
    transition: all 0.3s ease 0s;
    padding: 4px 32px;
}


// Default Page
// ---------------

.default-page {
    // Template Header
    .template-header {
        min-height: inherit;
        overflow: inherit;
    }
    // Logo & Companyname Container
    .logo-companyname-container {
        padding: 3% 0 0;
        @media #{$tablet} {
            padding: 20px;
        }
    }
    // Navigation
    .navigation-item {
        display: inline-block;
    }
    .navigation-list {
        margin: 0;
    }
    .extendednavigation .item-name {
        border: 0;
        padding: 20px;
    }
    .navigation-container {
        margin: 0 auto;
        max-width: 1200px;
    }
}


// Header
// ---------------

.template-header {

    @include flex-order(1);
    @include flex (1 1 30%);
    @include align-self(flex-start);

    max-height: 768px;
    background-color: $color__header--background;
    overflow: scroll;

    @media #{$tablet-860px} {
        width: 100%;
        display: block;
        min-height: 0px;
    }

    // Flex position logo / company name
    &--brand {
        @include flex-display();
        @include flex-wrap(wrap);
        @include align-items(center);
        @include flex(1 0 auto);

        padding: 0 10px 0 0;
        text-align: center;
        z-index: 999;


        @media #{$tablet-860px} {
            max-width: 100%;
        }


        // Add spacing betweent logo and company name
        .widget:first-child {
            margin-right: 6px;
        }


        // Stop logo becoming to large
        .logo-image {
            max-width: 200px;


            @media #{$mobile-650px} {
                max-width: 150px;
            }
        }
    }
}


// Homepage Features
// -----------------

// Homepage Container
.homepage-container {
    @include flex-display();
    @include flex-wrap(nowrap);
    @include align-items(flex-start);
    @include flex-direction(row);
    @include justify-content(flex-start);
    @include align-content(stretch);

    background-color: $color__navigation--background;
    max-height: 768px;

    @media #{$tablet-860px} {
        width: 100%;
        display: block;
        max-height: 100%;
    }
}

// Homepage Slideshow
.homepage-slideshow {
    @include flex-order(0);
    @include flex (1 1 70%);
    @include align-self(auto);

    min-height: 768px;

    @media #{$tablet-860px} {
        width: 100%;
        display: block;
        min-height: 0px;
    }
}

// Logo container
.logo-container {
    background-color: transparent;
    margin: 0;
    width: 100%;
    padding: 20px 3%;
    text-align: center;
}

// Homagepage widget
.homepage-widget {
    position: absolute;
    background-color: transparent;
    z-index: 99999;
    left: 3%;
    top: 2%;
    width: 64%;

    // Social
    .social-name {
        display: none;
    }
    .social-link {
        color: #ffffff;
        background-color: transparent;
        width: 20px;
        &:hover {
            text-decoration: none;
        }
    }

    .social-list:hover>.social-item:hover .social-link,
    .social-list:hover>.social-item .social-link {
        background-color: transparent;
    }

    // Address
    .companyaddress__address-line {
        display: inline-block;
        float: left;
    }

    // Sign up form
    .form {
        background-color: transparent;
        padding: 0;
        box-shadow: none;
    }

    .signupform__form-group {
        display: inline-block;
    }

    // Headline
    .companyheadline__headline {
        font-size: 36px;
        line-height: 48px
    }

    // Strapline
    .companystrapline__strapline {
        font-size: 20px;
        line-height: 32px;
    }

    // Twitter
    .twitter .tweet-item {
        background-color: transparent;
        padding: 0;
        text-align: left;
        width: 60%;
        margin-top: 0;
        box-shadow: none;
    }

    .twitter__tweet-wrap {
        padding-top: 0;
    }

    .twitter__avatar {
        display: none;
    }

    .twitter__tweet-content {
        padding: 0;
        font-size: 22px;
        line-height: 34px;
    }

    .twitter:before, 
    .twitter:after {
        display: none;
    }

    // Typography
    h1, h2, h3, h4, p, a {
        color: #ffffff;
        padding-bottom: 0;
    }

    @media #{$tablet-860px} {
        display: none;
    }
}

// Navigation Container
.navigation-container {
    @include align-self(center);
    @include flex-order(0);
    @include flex(0 1 auto);
}

[data-widget-type="logo"] {
    margin-bottom: 10px;
    @media #{$tablet-860px} {
        margin-right: 10px;
        margin-bottom: 0;
    }
}

[data-widget-type="logo"],
[data-widget-type="companyname"] {
    display: block;
    width: 100%;
    text-align: center;

    @media #{$tablet-860px} {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
        width: inherit;
    }
}

// Logo & Companyname container
.logo-companyname-container {
    @include align-self(center);
    @include flex-order(0);
    @include flex(0 1 auto);

    padding: 6% 4% 11% 4%;
    @media #{$tablet-860px} {
        padding: 20px;
    }
}

// Companyname 
.company-link {
    &:hover {
        text-decoration: none;
    }
}


// Footer
// ---------------

.template-footer {
    padding: 20px 0;
    text-align: center;
    background-color: $color__footer--background;

    h1,h2,h3,h4,h5,p,a {
        color: #fff;
        padding-bottom: 0;
    }

    @media #{$mobile-650px} {
        padding: 10px 0;
    }
}



// Responsive Columns Widgets
// ------------------------------

.responsivecolumns {

    .widget {
        margin-bottom: 20px;
    }

    .blogpostlist__post-image+.blogpostlist__post-content {
        margin: 0;
    }

    .widget__clicktocall a {
        &:hover {
            text-decoration: none;
        }
    }

    // 2 columns
    .columns-two-left,
    .columns-two-right {
        .responsiveslideshow .figure {
            position: relative;
            min-height: 400px;
            display: block;
        }
        .responsiveslideshow .caption {
            min-height: 400px;
        }
        .responsiveslideshow__image-title {
            font-size: $font__feature-headline--font-size * 0.7;
            line-height: $font__feature-headline--line-height * 0.7;
            display: inline-block;
        }
        .responsiveslideshow__image-description {
            font-size: $font__feature-strapline--font-size * 0.7;
            line-height: $font__feature-strapline--line-height * 0.7;
            display: inline-block;
        }
    }

    // 3 columns 

    .columns-three-left,
    .columns-three-middle,
    .columns-three-right {

    }

    // 4 columns
    .columns-four-first,
    .columns-four-second,
    .columns-four-third,
    .columns-four-fourth {

    }

    // 3 columns 
    .columns-three-left,
    .columns-three-middle,
    .columns-three-right,
    .columns-four-first,
    .columns-four-second,
    .columns-four-third,
    .columns-four-fourth {
        .social-item {
            margin-bottom: 15px;
        }
        .responsiveslideshow .slide-navigation {
            display: none;
        }
        .responsiveslideshow .figure {
            min-height: 300px;
        }
        .responsiveslideshow__image-title,
        .responsiveslideshow__image-description {
            display: none;
        }
    }
    
}

