<!-- Company Name and Logo -->
 <header class="template-header">

    <div class="logo-companyname-container">
        {{widget('logo', 'header-logo', {"defaultlogo": asset('images/logo.png')})|raw}}
        {{widget('companyname', 'header-companyname', {"business": "profile"})|raw}}
    </div>

    <div class="navigation-container">
        {{widget('extendednavigation', 'navigation', {
            'align': 'center'
        })|raw}}
    </div>

</header>
