
// -----------------------------
//  Forms
// -----------------------------


// Form
// -----

.form {
    background-color: $color__form--background;
    padding: 80px;

    @include box-shadow(0px 0px 37px 15px rgba(0,0,0,0.07));

    @media #{$tablet-860px} { 
        padding: 60px;
    }

    @media #{$mobile-650px} { 
        padding: 20px;
    }
}


// Inputs
// ------

// Inputs
input[type="search"], 
input[type="email"], 
input[type="password"], 
textarea, 
.input--single-line {
    background-color: #fff;
    border: 1px solid #d4d4d4;
    &:hover {
        border: 1px solid #d4d4d4;
    }
}

// Focus
input[type="search"]:focus, 
input[type="email"]:focus, 
input[type="password"]:focus, 
textarea:focus, 
.input--single-line:focus {
    border-color: darken(#d4d4d4, 10%);
}


// Legend & Labels
// ---------------

// Label
label {
    color: $color__form-label--text;
}

.signupform__label,
.blogsearch__label {
    display: none;
}

// Legend
legend {
    font-family: $font__h2--font-family;
    font-size: $font__h2--font-size;
    line-height: $font__h2--line-height;
    color: $color__form-legend--text;
}

.signupform__legend,
.blogsearch__legend {
    margin-bottom: 10px;
}


// Button
// ------

.button--submit {
    background-color: $color__button--background;
}

