
// -----------------------------
//  Forms
// -----------------------------


// Form
// -----

.form {
    background-color: $color__form--background;
    padding: 80px;

    @include box-shadow(0px 0px 37px 15px rgba(0,0,0,0.07));

    @media #{$tablet-860px} { 
        padding: 60px;
    }

    @media #{$mobile-650px} { 
        padding: 20px;
    }
}

// Form Body
.signupform__form-body,
.blogsearch__form-body {
    @include flex-display();
    @include flex-direction(row);
    @include flex-wrap(nowrap);
    @include justify-content(center);
    @include align-content(center);
    @include align-items(center);
}

// Form Group
.signupform__form-group,
.blogsearch__form-group {
    &:first-child {
        @include flex-order(0);
        @include flex(1 1 80%);
        @include align-self(center);
    }
    &:last-child {
        @include flex-order(1);
        @include flex(1 1 20%);
        @include align-self(center);
    }
}


// Inputs
// ------

// Inputs
input[type="search"], 
input[type="email"], 
input[type="password"], 
textarea, 
.input--single-line {
    background-color: #fff;
    border: 1px solid #d4d4d4;
    padding: 10px;
    &:hover {
        border: 1px solid #d4d4d4;
    }
    @media #{$tablet} {
        font-size: initial;
        line-height: initial;
    }
}

// Focus
input[type="search"]:focus, 
input[type="email"]:focus, 
input[type="password"]:focus, 
textarea:focus, 
.input--single-line:focus {
    border-color: darken(#d4d4d4, 10%);
}


// Legend & Labels
// ---------------

// Label
label {
    color: $color__form-label--text;
}

.signupform__label,
.blogsearch__label {
    display: none;
}

// Legend
legend {
    font-family: $font__h2--font-family;
    font-size: $font__h2--font-size;
    line-height: $font__h2--line-height;
    color: $color__form-legend--text;

    @media #{$tablet-860px} {
        font-size: $font__h2--font-size * 0.90;
        line-height: $font__h2--line-height * 0.90;
    }

    @media #{$mobile-650px} {
        font-size: $font__h2--font-size * 0.70;
        line-height: $font__h2--line-height * 0.70;
    }
}

.signupform__legend,
.blogsearch__legend {
    margin-bottom: 10px;
}


// Button
// ------

.button--submit {
    background-color: $color__button--background;
}

