// ------------------------------------
// Gallery
// ------------------------------------


// Breakpoints for gallery
// --------------------------


$gallery-2col:  "only screen and (min-width:650px)" !default;

$gallery-1col:  "only screen and (min-width:1px) and (max-width:650px)" !default;


// Gallery Item
// ------------------------------


.gallery__gallery-item {
    float: left;
    height: 0; // Height is achieved using padding-bottom
    margin: 0;
    position: relative;
    overflow: hidden;


    // 2 Columns Layout
    @media #{$gallery-2col} {
        width: 50%;
        padding-bottom: 25%;
        margin: 0;


        &:nth-child(2n) {
            margin-right: 0;
        }


        &:nth-child(6n+3),
        &:nth-child(6n+4),
        &:nth-child(12n+3),
        &:nth-child(12n+4) {
            .gallery__caption:after {
                left: 100%;
            }


            .gallery__image-link {
                @include flex-order(2);
            }
        }
    }


    // 1 Column Layout
    @media #{$gallery-1col} {
        width: 100%;
        height: auto;
        padding-bottom: 50%;
        margin: 0;


        &:nth-child(even) .gallery__caption {
            @include flex-order(-1);


            &:after {
                left: 100%;

            }
        }
    }

    @media #{$tablet-860px} {
        padding-bottom: 50%;
        width: 100%;
        &:nth-child(even) {
            .gallery__image-link {
                @include flex-order(2);
            }
        }
        &:nth-child(odd) {
            .gallery__image-link {
                @include flex-order(0);
            }
        }
    }

    @media #{$mobile-650px} {
        padding-bottom: 0;
    }
}

// Gallery Figure
// ------------------------------

.gallery__figure {
    @include flex-display();
    position: absolute;
    top: -1px;
    right: 0;
    bottom: 0;
    left: 0;

    @media #{$mobile-650px} {
        display: block;
        position: relative;
    }
}



// Gallery Captions
// ------------------------------


.gallery__caption {
    outline: 1px solid $color__gallery-caption--background;
    margin: 0;
    width: 50%;
    position: relative;

    @media #{$mobile-650px} {
        width: 100%;
        display: none;
    }
}



// Gallery Captions
// ------------------------------


.gallery__image-link {
    background-size: cover;
    background-position: center;
    display: block;
    width: 50%;

    @include flex-grow(1);

    @media #{$mobile-650px} {
        overflow: hidden;
        width: 100%;
    }
}


.gallery__image {
    display: none; // Using background image instead

    @media #{$mobile-650px} {
        display: block;
        width: 100%;
    }
}


// Captions fade
.gallery__caption-link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $color__gallery-caption--background;
    @include flex-display();
    @include flex-direction(column);
    @include flex-wrap(nowrap);
    @include justify-content(center);
    @include align-content(center);
    @include align-items(center);
    @include flex(1 1 50%);

    @media #{$mobile-650px} {
        display: block;
        padding: 25px 10px;
        position: relative;
    }

    &:hover {
        text-decoration: none;
    }
}


// Image Title
.gallery__image-title {
    color: $color__gallery-title--text;
    font-family: $font__h2--font-family;
    font-size: 20px;
    line-height: 26px;
    padding: 2px 14px;
    text-align: center;
}

// Image Description
.gallery__image-description {
    color: lighten($color__gallery-description--text, 8%);
    font-size: $font__p--font-size;
    line-height: 26px;
    font-size: 16px;
    padding: 5px 14px;
    max-width: 100%;
    text-align: center;
    text-overflow: ellipsis;

    @media #{$tablet-860px} {
        padding: 0 14px;
    }

    @media #{$mobile-650px} {
        font-size: bkscale($font__p--font-size, 0.85);
        line-height: bkscale($font__p--line-height, 0.7);
    }

    .gallery-item:hover & {
        white-space: normal;
    }
}


// Responsive Columns Widgets
// ------------------------------

.responsivecolumns {

    // 2 columns
    .columns-two-left,
    .columns-two-right {
        .gallery__gallery-item {
            width: 100%;
            padding-bottom: 50%;
            &:nth-child(even) {
                .gallery__image-link {
                    @include flex-order(2);
                }
            }

            &:nth-child(odd) {
                .gallery__image-link {
                    @include flex-order(0);
                }
            }
        }
    }

    // 3 columns 
    .columns-three-left,
    .columns-three-middle,
    .columns-three-right {

    }

    // 4 columns
    .columns-four-first,
    .columns-four-second,
    .columns-four-third,
    .columns-four-fourth {

    }

    // 3 & 4 columns 
    .columns-three-left,
    .columns-three-middle,
    .columns-three-right,
    .columns-four-first,
    .columns-four-second,
    .columns-four-third,
    .columns-four-fourth {
        .gallery {
            .gallery-item {
                width: 100%;
                padding-bottom: 100%;
            }
            .caption {
                display: none;
            }
        }
    }
    
}

