// -----------------------------
//  Responsive Slideshow
// -----------------------------

.responsiveslideshow {

    .control-text {
        display: none;
    }

    .next-button, 
    .previous-button, 
    .pause-toggle {
        background-color: transparent;
        width: 150px;
    }

    // Icons
    .icon--play:before, 
    .icon--pause.pause:before {
        margin-right: 0;
    }

    .icon--previous:before,
    .icon--next:after {
        content:"";
    }

    // Previous button
    .previous-button {
        background-image: url('../images/arrow-up.png');
        background-position: center;
        display: block;
        transform: rotate(180deg);
        background-size: 100%;
        background-repeat: no-repeat;
        margin-bottom: 60px;

        @media #{$tablet-860px} {
            background-image: url('../images/arrow-up.svg');
            background-size: 70%;
        }
    }

    // Next button
    .next-button {
        background-image: url('../images/arrow-down.png');
        background-position: center;
        width: 100%;
        display: block;
        background-size: 100%;
        background-repeat: no-repeat;
        margin-top: 60px;
        margin-left: -4px;

        @media #{$tablet-860px} {
            background-image: url('../images/arrow-down.svg');
            background-size: 70%;
        }
    }

    .slide-navigation {
        position: absolute;
        z-index: 999;
        bottom: 0;
        right: 5%;
        top: 0;
        margin: auto 0;

        display: flex;
        @include flex-direction(column);
        @include justify-content (center);

        @media #{$tablet-860px} {
            right: 0;
        }

        @media #{$mobile-650px} {
            display: none;
        }
    }

    .slide-pagination {
        position: absolute;
        bottom: 5%;
        left: 4%;
    }

    .pagination-item.selected button.button {
        background-color: #fff;
    }

    .pagination-item .button {
        font-size: 16px;
        letter-spacing: 0;
        line-height: 1;
    }

    .caption {
        background-color: transparent;
        bottom: 40%;
        padding: 10px 25% 10px 4%;
        z-index: 99;
        position: relative;

        @media #{$tablet-860px} {
            padding: 10px 20% 10px 4%;
        }

    }

    // Slideshow image title
    .image-title {
        color: $color__slideshow-title--text;
        font-size: 66px;
        font-weight: 700;
        font-family: $font__feature-headline--font-family;
        line-height: 76px;
        letter-spacing: -1px;
        margin-bottom: 8px;
        @media #{$tablet-860px} {
            font-size: $font__feature-headline--font-size * 0.8;
            line-height: $font__feature-headline--line-height * 0.8;
        }
        @media #{$mobile-650px} {
            font-size: $font__feature-headline--font-size * 0.6;
            line-height: $font__feature-headline--line-height * 0.6;
        }
    }

    // Slideshow image description
    .image-description {
        color: $color__slideshow-description--text;
        font-family: $font__feature-strapline--font-family;
        font-size: 18px;
        line-height: 28px;
        @media #{$tablet-860px} {
            font-size: $font__feature-strapline--font-size * 0.8;
            line-height: $font__feature-strapline--line-height * 0.8;
        }
        @media #{$mobile-650px} {
            font-size: $font__feature-strapline--font-size * 0.6;
            line-height: $font__feature-strapline--line-height * 0.6;
        }
    }

    // Slideshow figure
    .figure {
        @include flex-display();
        @include align-items(center);
        @include justify-content(center);

        background-color: transparent;
        background-repeat: no-repeat;
        position: initial;
        min-height: 768px;

        @media #{$tablet-860px} {
            min-height: 500px;
        }

        &:after {
            background-color: $color__slideshow-caption--background;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
}

// Slideshow Button
.responsiveslideshow__button.button {
    background-color: transparent;
    border: 1px solid #fff;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    overflow: hidden;
    padding: 0;
    text-indent: -9999px;
    height: 14px;
    width: 14px;
    margin-right: 5px;
}


// Responsive Columns Widgets
// ------------------------------

.responsivecolumns {

    // 2 columns
    .columns-two-left,
    .columns-two-right {
        .responsiveslideshow .figure {
            position: relative;
            min-height: 400px;
            display: block;
        }
        .responsiveslideshow .caption {
            min-height: 400px;
        }
        .responsiveslideshow__image-title {
            font-size: $font__feature-headline--font-size * 0.7;
            line-height: $font__feature-headline--line-height * 0.7;
            display: inline-block;
        }
        .responsiveslideshow__image-description {
            font-size: $font__feature-strapline--font-size * 0.7;
            line-height: $font__feature-strapline--line-height * 0.7;
            display: inline-block;
        }
    }

    // 3 columns 

    .columns-three-left,
    .columns-three-middle,
    .columns-three-right {

    }

    // 4 columns
    .columns-four-first,
    .columns-four-second,
    .columns-four-third,
    .columns-four-fourth {

    }

    // 3 columns 
    .columns-three-left,
    .columns-three-middle,
    .columns-three-right,
    .columns-four-first,
    .columns-four-second,
    .columns-four-third,
    .columns-four-fourth {
        .responsiveslideshow .slide-navigation {
            display: none;
        }
        .responsiveslideshow .figure {
            min-height: 300px;
        }
        .responsiveslideshow__image-title,
        .responsiveslideshow__image-description {
            display: none;
        }
    }
    
}
