// -----------------------------
//  Twitter Widget
// -----------------------------

.twitter {
    overflow: visible!important;
    height: 100%!important;

    &:before {
        left: 0;
    }

    &:after {
        right: 0;
    }


    &__tweet-list {
        float: left;
        margin: 0 0 40px;
        //height: 100%!important;
    }


    .tweet-item {
        background-color: $color__twitter--background;
        float: left;
        list-style: none;
        margin: 0 auto;
        min-height: 275px;
        overflow: visible!important;
        padding: 0 45px 35px;
        position: relative;
        text-align: center;
        width: 48%;
        margin-top: 60px;

        @include box-shadow(0px 0px 37px 15px rgba(0,0,0,0.07));

        &:nth-child(odd) {
            margin-right: 4%;
        }

        @media #{$mobile-650px} {
            width: 100%;
            &:nth-child(odd) {
                margin-right: 0%;
            }
        }
    }


    &__avatar {
        position: absolute;
        top: -25px;
        left: 0;
        right: 0;
    }

    &__avatar-image {
        border-radius: 50px;
    }


    &__tweet-wrap {
        padding-top: 65px;
    }


    &__account-name {
        color: $color__p--text;
        font-family: $font__p--font-family;
        font-size: 15px;
        text-transform: uppercase;

        &:before {
            content: "@";
            font-size: 10px;
            margin-right: 4px;
        }
    }


    &__tweet-content {
        color: $color__twitter-tweet--text;
        font-family: $font__h3--font-family;
        font-size: $font__h3--font-size * 0.90;
        line-height: $font__h3--line-height;
        margin: 0 auto;
        max-width: 680px;
        padding: 15px 0;

        @media #{$tablet-860px} {
            font-size: $font__h3--font-size * 0.80;
            line-height: $font__h3--line-height * 0.90;
        }

        @media #{$mobile-650px} {
            font-size: $font__h3--font-size * 0.60;
            line-height: $font__h3--line-height * 0.70;
        }


        a {
            color: lighten($color__twitter-tweet--text, 8%);
        }
    }


    // Tweet metadata and retweeted platform
    &__tweet-meta,
    &__retweeted-by {
        display: none;
        visibility: none;
    }
}


.dot {
    background-color: lighten($color__body--background, 15%);
    text-indent: -9999px;
    overflow: hidden;
    position: absolute;
    top: 25%;
    bottom: 20%;
    height: 55%;
    width: 45px;
    z-index: 2;

    &:first-child {
        left: 0;
    }

    &:last-child {
        right: 0;
    }
}



// Responsive Columns
// ------------------------------

 
.responsivecolumns .columns-three-left,
.responsivecolumns .columns-three-middle,
.responsivecolumns .columns-three-right,
.responsivecolumns .columns-four-first,
.responsivecolumns .columns-four-second,
.responsivecolumns .columns-four-third,
.responsivecolumns .columns-four-fourth {

}

